@model StefanBrunotteWebPage.Models.WorkViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WorkViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkExperienceGainedDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkExperienceGainedDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkEndDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="myBtnDelete" /> |
        <a class="myBtnBack" asp-action="Index">Back to List</a>
    </form>
</div>
