@model IEnumerable<StefanBrunotteWebPage.Models.WorkViewModel>

@{
    ViewData["Title"] = "Work List";
}
<h4>Search Result from "Description"</h4>
<hr />
<div class="mb-2">
    <a class="myBtnBack" asp-action="Index">Back to List</a>
</div>


<table class="table">
    <thead class="tHeader">
        <tr>
            <th class="thOne">
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th class="thTwo">
                @Html.DisplayNameFor(model => model.WorkDescription)
            </th>
            <th class="thThree">
                @Html.DisplayNameFor(model => model.WorkExperienceGainedDescription)
            </th>
            <th class="thFour">
                @Html.DisplayNameFor(model => model.WorkStartDate)
            </th>
            <th class="thFive">
                @Html.DisplayNameFor(model => model.WorkEndDate)
            </th>
            <th class="gridHeaderSix"></th>
        </tr>
    </thead>


    <tbody class="tHeader">
        @foreach (var item in Model)
        {
            <tr>
                <td class="tdOne">
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td class="tdTwo">
                    @Html.DisplayFor(modelItem => item.WorkDescription)
                </td>
                <td class="tdThree">
                    @Html.DisplayFor(modelItem => item.WorkExperienceGainedDescription)
                </td>
                <td class="tdFour">
                    @Html.DisplayFor(modelItem => item.WorkStartDate)
                </td>
                <td class="tdFive">
                    @Html.DisplayFor(modelItem => item.WorkEndDate)
                </td>
                <td class="tdSix">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
