@model IEnumerable<StefanBrunotteWebPage.Models.AcademicViewModel>

@{
    ViewData["Title"] = "Academics List";
}
<div class="partialViewGrid">
    <h1 class="gridIndexH1">Academic Qualifications</h1>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" asp-action="ShowSearchResults">
                <div class="form-group mx-sm-6 mr-2 mb-2">
                    <label for="SearchPhrase" class="control-label"></label>
                    <input name="SearchPhrase" class="form-control placeHolderText" placeholder="Search description keywords..." />
                </div>
                <div class="form-group mb-2">
                    <input type="submit" value="Search" class="myBtnSearch" />
                    <a class="myBtnAdd ml-2" asp-action="Create">Add New Course</a>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead class="tHeader">
            <tr>
                <th class="thOne">
                    @Html.DisplayNameFor(model => model.UniversityName)
                </th>
                <th class="thTwo">
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th class="thThree">
                    @Html.DisplayNameFor(model => model.CourseCoversDescription)
                </th>
                <th class="thFour">
                    @Html.DisplayNameFor(model => model.ExperienceGainedDescription)
                </th>
                <th class="thFive">
                    @Html.DisplayNameFor(model => model.CourseStartDate)
                </th>
                <th class="thSix">
                    @Html.DisplayNameFor(model => model.CourseEndDate)
                </th>
                <th class="gridHeaderSeven"></th>
            </tr>
        </thead>
        <tbody class="tHeader">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="tdOne">
                        @Html.DisplayFor(modelItem => item.UniversityName)
                    </td>
                    <td class="tdTwo">
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td class="tdThree">
                        @Html.DisplayFor(modelItem => item.CourseCoversDescription)
                    </td>
                    <td class="tdFour">
                        @Html.DisplayFor(modelItem => item.ExperienceGainedDescription)
                    </td>
                    <td class="tdFive">
                        @Html.DisplayFor(modelItem => item.CourseStartDate)
                    </td>
                    <td class="tdSix">
                        @Html.DisplayFor(modelItem => item.CourseEndDate)
                    </td>
                    <td class="tdSeven">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>