@using Microsoft.AspNetCore.Identity
@model IEnumerable<StefanBrunotteWebPage.Models.AcademicViewModel>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Academics List";
}
<div class="listGrid">
    <h1 class="listH1">Academic Qualifications</h1>
            <form class="form-inline formGrid" asp-action="ShowSearchResults">
                <div class="form-group SearchInputField">
                    <label for="SearchPhrase" class="control-label"></label>
                    <input name="SearchPhrase" class="form-control placeHolderText" placeholder="Search description keywords..." />
                </div>
                <div class="form-group searchInputBtn">
                    <input type="submit" value="Search" class="myBtnSearch" />
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="myBtnAdd createListBtn" asp-action="Create">Add New Course</a>
                    }
                </div>
            </form>
    <div id="divTable">
        <div id="headerTable">
            <div class="divHLi cellWidthOne listHeaderName">
                @Html.DisplayNameFor(model => model.UniversityName)
            </div>
            <div class="divHLi cellWidthOne listHeaderCourse">
                @Html.DisplayNameFor(model => model.CourseName)
            </div>
            <div class="divHLi cellWidthTwo listHeaderUniDesc">
                @Html.DisplayNameFor(model => model.CourseCoversDescription)
            </div>
            <div class="divHLi cellWidthThree listHeaderUniExp">
                @Html.DisplayNameFor(model => model.ExperienceGainedDescription)
            </div>
            <div class="divHLi cellWidthFour listHeaderStart">
                @Html.DisplayNameFor(model => model.CourseStartDate)
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.StartDateParam"> - Sort</a>
            </div>
            <div class="divHLi cellWidthFour listHeaderEnd">
                @Html.DisplayNameFor(model => model.CourseEndDate)
            </div>
            <div class="divHLi cellWidthFour listHeaderDetails">
                Details
            </div>
        </div>
        <div id="bodyTable">
            @foreach (var item in Model)
            {
                    <div class="divCLi cellWidthOne">
                        @Html.DisplayFor(modelItem => item.UniversityName)
                    </div>
                    <div class="divCLi cellWidthOne">
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </div>
                    <div class="divCLi cellWidthTwo">
                        @Html.DisplayFor(modelItem => item.CourseCoversDescription)
                    </div>
                    <div class="divCLi cellWidthThree">
                        @Html.DisplayFor(modelItem => item.ExperienceGainedDescription)
                    </div>
                    <div class="divCLi cellWidthFour">
                        @Html.DisplayFor(modelItem => item.CourseStartDate)
                    </div>
                    <div class="divCLi cellWidthFour">
                        @Html.DisplayFor(modelItem => item.CourseEndDate)
                    </div>
                    <div class="divCLi cellWidthFour">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="tdDetails" asp-action="Details" asp-route-id="@item.Id">View</a>
                            <a class="tdDetails" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="tdDetails" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        else
                        {
                            <a class="tdDetails" asp-action="Details" asp-route-id="@item.Id">View</a>
                        }
                    </div>
            }
        </div>
    </div>
</div>
