@model IEnumerable<PortfolioWebMVC.Models.ProjectsViewModel>

@{
    ViewData["Title"] = "Projects List";
}
<div class="partialViewGrid">
    <h1 class="gridIndexH1">Academic Qualifications</h1>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" asp-action="ShowSearchResults">
                <div class="form-group mx-sm-6 mr-2 mb-2">
                    <label for="SearchPhrase" class="control-label"></label>
                    <input name="SearchPhrase" class="form-control placeHolderText" placeholder="Search description keywords..." />
                </div>
                <div class="form-group mb-2">
                    <input type="submit" value="Search" class="myBtnSearch" />
                    <a class="myBtnAdd ml-2" asp-action="Create">Add New Course</a>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FrameworkToolsDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GitHubLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeployedLink)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FrameworkToolsDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GitHubLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeployedLink)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>