@using Microsoft.AspNetCore.Identity
@model IEnumerable<PortfolioWebMVC.Models.ProjectsViewModel>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Projects List";
}
<div class="partialViewGrid">
    <h1 class="gridIndexH1">Academic Qualifications</h1>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" asp-action="ShowSearchResults">
                <div class="form-group mx-sm-6 mr-2 mb-2">
                    <label for="SearchPhrase" class="control-label"></label>
                    <input name="SearchPhrase" class="form-control placeHolderText" placeholder="Search description keywords..." />
                </div>
                <div class="form-group mb-2">
                    <input type="submit" value="Search" class="myBtnSearch" />
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="myBtnAdd ml-2" asp-action="Create">Add New Project</a>
                    }
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="thSix">
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th class="thOne">
                    @Html.DisplayNameFor(model => model.ProjectDescription)
                </th>
                <th class="thOne">
                    @Html.DisplayNameFor(model => model.FrameworkToolsDescription)
                </th>
                <th class="thFive">
                    @Html.DisplayNameFor(model => model.GitHubLink)
                </th>
                <th class="thSix">
                    @Html.DisplayNameFor(model => model.DeployedLink)
                </th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="tdSix">
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td class="tdOne">
                        @Html.DisplayFor(modelItem => item.ProjectDescription)
                    </td>
                    <td class="tdOne">
                        @Html.DisplayFor(modelItem => item.FrameworkToolsDescription)
                    </td>
                    <td class="tdFive">
                        @Html.DisplayFor(modelItem => item.GitHubLink)
                    </td>
                    <td class="tdSix">
                        @Html.DisplayFor(modelItem => item.DeployedLink)
                    </td>
                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="tdDetails" asp-action="Details" asp-route-id="@item.Id">View</a>
                            <a class="tdDetails" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="tdDetails" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        else
                        {
                            <a class="tdDetails" asp-action="Details" asp-route-id="@item.Id">View</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>